{% block style %}
    <link rel="stylesheet" href="/css/modal.css">
{% endblock %}
<div id="id01" class="modal">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="container">
				<a href="#" class="closebtn">×</a>
			</div>
			<div class="container">
				<p id="pModal"></p>
			</div>
			<div class="container">
				<a id="linkModal" href="">
                    <button>Oui</button>
                </a>
                <a href="#">
                    <button>Non</button>
                </a>
			</div>
		</div>
	</div>
</div>
